version: 2.1

jobs:

#### Terraform Workflow deployment ###
  tflint:
    docker:
      - image: ghcr.io/terraform-linters/tflint:latest
    steps:
      - run:
          name: Install dependencies
          command: apk add --no-cache git openssh
      - checkout

      - run:
          name: TFLint Init and Check
          command: |
            cd infra-aws/terraform/environments/dev
            tflint --init
            tflint --recursive --format compact

  terraform-deploy:
    docker:
      - image: hashicorp/terraform:latest
    steps:
      - checkout

      - run: 
          name: Terraform Init and Validate
          command: |
            cd infra-aws/terraform/environments/dev
            terraform fmt -check -recursive -diff
            terraform init -backend=false
            terraform validate

      - run:
          name: Terraform Plan
          command: |
            cd infra-aws/terraform/environments/dev
            terraform init
            terraform plan -out=tfplan -var-file="dev.tfvars"

      - run:
          name: Terraform Apply
          command: |
            cd infra-aws/terraform/environments/dev
            terraform apply -auto-approve tfplan
            terraform output -raw monitoring_server_public_ip > /tmp/ec2_ip.txt
            cat /tmp/ec2_ip.txt

      - persist_to_workspace:
          root: /tmp
          paths:
            - ec2_ip.txt


### Docker Workflow deployment ###
  deploy-app:
    docker:
      - image: cimg/base:edge
    steps:
      - checkout

      - attach_workspace:
          at: /tmp

      - run:
          name: Setup installation
          command: |
           sudo apt-get update
           sudo apt-get install -y openssh-client

      - run:
          name: Setup SSH
          command: |
            set -x
            mkdir -p ~/.ssh
            printf '%s' "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/monitoring_key
            chmod 600 ~/.ssh/monitoring_key
            EC2_IP=$(cat /tmp/ec2_ip.txt)
            ssh-keyscan -H $EC2_IP >> ~/.ssh/known_hosts

      - run:
          name: Copy configuration files
          command: |
            EC2_IP=$(cat /tmp/ec2_ip.txt)
            ssh -o StrictHostKeyChecking=no -i ~/.ssh/monitoring_key ubuntu@$EC2_IP "mkdir -p /home/ubuntu/monitoring/"
            cd docker
            scp -i ~/.ssh/monitoring_key docker-compose.yml ubuntu@$EC2_IP:/home/ubuntu/monitoring/
            scp -i ~/.ssh/monitoring_key prometheus.yml ubuntu@$EC2_IP:/home/ubuntu/monitoring/

      - run:
          name: Deploy containers
          command: |
            sleep 90
            EC2_IP=$(cat /tmp/ec2_ip.txt)
            ssh -i ~/.ssh/monitoring_key ubuntu@$EC2_IP \<< 'EOF'
              SECRET=$(aws secretsmanager get-secret-value \
                --secret-id dev/grafana-credentials \
                --region eu-west-1 \
                --output text \
                --query SecretString)

              export GF_SECURITY_ADMIN_USER=$(echo $SECRET | jq -r .username)
              export GF_SECURITY_ADMIN_PASSWORD=$(echo $SECRET | jq -r .password)

              cd /home/ubuntu/monitoring
              docker compose up -d

              echo "Deployment completedd"
              docker compose ps -a
            EOF


### Terraform destroy ###
  terraform-destroy:
    docker:
      - image: hashicorp/terraform:latest
    steps:
      - checkout

      - run:
          name: Terraform Init
          command: |
            cd infra-aws/terraform/environments/dev
            terraform init

      - run:
          name: Terraform Destroy
          command: |
            cd infra-aws/terraform/environments/dev
            terraform destroy  -var-file="dev.tfvars" -auto-approve


### Workflow implementation ###
workflows:
  deploy-monitoring-stack:
    jobs:
      - tflint:
          filters:
            branches:
              only:
                - main

      - terraform-deploy:
          requires:
            - tflint
          filters:
            branches:
              only:
                - main

      - deploy-app:
          requires:
            - terraform-deploy
          filters:
            branches:
              only:
                - main

      - approve-destroy:
          type: approval
          requires:
            - deploy-app
          filters:
            branches:
              only:
                - main

      - terraform-destroy:
          requires:
            - approve-destroy
          filters:
            branches:
              only:
                - main